@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0 !important;
    padding: 0 !important ;
    box-sizing: border-box !important;
}
body{
  font-family: 'Ubuntu', sans-serif;
}
header{
    background-image: url('../img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-danger{
    background-color: crimson !important;
}

/* navbar css  */
.navbar-brand {
    margin-left: 230px !important;
    font-size: 30px;
    color: white;
}
.nav-link{
    margin-right: 25px  !important ;
    color: white !important;
    font-size: 18px;
}
.nav-item a{
    font-size: 20px !important;
    font-weight: 500;
}
.nav-item a:hover{
    color: crimson !important;
}
.home{
  
    
    height: 100vh;
    color: white;
    min-height: 500px;
    display: flex;
}
.max-width{
    width: 100%;
}
.home .max-width{
    width: 100%;
    display: flex;
    margin-top: 250px !important;
    margin-left: 250px !important;
    color: white;
  }
  .text-1 {
    font-size: 27px;
}

.text-2{
    font-size: 75px;
    font-weight: 600;
}
.text-3 {
    font-size: 40px;
    margin-top: -25px !important ;
    margin-bottom: 20px !important;
}
.text-3 span {
    color: crimson !important;
}
.hire_me {
    background-color: crimson ;
    font-size: 25px;
    text-decoration: none;
    color: white;
    padding: 12px 36px !important;
    margin-top: 10px !important;
    border-radius: 5px ;
}
.hire_me:hover{
    background: none !important;
    border: 1px solid crimson;
    color: crimson !important;
}
img.my-img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}
/* navbar end  */
    

.card{
    background-color: #222;
    color: white;
    text-align: center;
    width: 375px;
    padding: 50px 25px !important;
    margin-bottom: 50px !important;

}

.col_margin{
   margin: 0px 60px !important;
}

section#services {
    background: black;
    color: white;
}
section#teams {
    background: black;
    color: white;
}

.card-body svg {
    font-size: 50px;
    color: crimson;
    margin-bottom: 10px !important;
}
h5.card-title {
    font-size: 30px;
    margin-bottom: 10px !important;
    /* font-weight: 500 !important; */
}

.title h2 {
    padding: 50px 0px !important;
}
.card:hover{
    background-color: crimson;
}
.card:hover .card-body{
    transform: scale(1.05);
    transition: all 0.5s ease;
}
.card:hover svg {
    color: white;
}
.card-body img {
    height: 150px;
    width: 150px;
    border: 5px solid crimson;
    object-fit: cover;
    border-radius: 50%;
    transition: all 0.5s ease;
    margin-bottom: 15px !important;
}
.card:hover img {
    border: 5px solid white;
}
h2.section-title{
    position: relative;
}
h2.section-title::before{
    content: "";
    height: 3px;
    width: 180px;
    position: absolute;
    background-color: black;
    bottom: -18px;
    left: 41.5rem;
}

h2.section-title::after{
    content: "who I am";
    position: absolute;
    bottom: -26px;
    left: 44.5rem;
    font-size: 20px;
    background: white;
    color: crimson;
}





/* responsive css  */
/* ================================================ */

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    
}
@media only screen
and (min-device-width : 576px)
and (max-device-width : 768px) {
    .navbar-brand {
        margin-left: 25px !important;
       
    }
}

@media only screen
and (min-width : 321px) {
    
}

@media only screen
and (max-width : 320px) {
 
}
 
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    .navbar-brand {
        margin-left: 25px !important;
       
    }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    

}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    .navbar-brand {
        margin-left: 25px !important;
       
    }
}

@media only screen
and (min-width : 1224px) {

}

@media only screen
and (min-width : 1824px) {

}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
    .navbar-brand {
        margin-left: 25px !important;
       
    }
}
 
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {

}
 
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {

}